span.Smallcaps { font-variant: small-caps; }
span.Underline { text-decoration: underline; }
span.Overline { text-decoration: overline; }
span.Strike { text-decoration: line-through; }
a { text-decoration: none; }
table { border-collapse: collapse; border-spacing: 0 }
p.C238 {
   text-align:center;
   margin-top:1em;
   margin-bottom:1em;
   font-size:100%;
   text-indent:0px;
}
p.C609 {
   text-align:center;
   margin-top:4em;
   margin-bottom:1em;
   font-size:100%;
   text-indent:0px;
}
p.C609a {
   text-align:center;
   margin-top:3em;
   margin-bottom:1em;
   font-size:110%;
   text-indent:0px;
}
p.C609b {
   text-align:center;
   margin-top:3em;
   margin-bottom:2em;
   font-size:100%;
   text-indent:0px;
}
p.C241 {
   text-align:center;
   margin-top:0px;
   margin-bottom:0px;
   font-size:110%;
   text-indent:0px;
}
p.toc {
   text-align:left;
   margin-top:0.3em;
   margin-bottom:0px;
   margin-left:1em;
   font-size:100%;
   text-indent:0px;
}
p.toc1 {
   text-align:left;
   margin-top:1em;
   margin-bottom:0px;
   font-size:100%;
   text-indent:0px;
}
p.C620 {
   text-align:center;
   margin-top:0px;
   margin-bottom:2em;
   font-size:100%;
   text-indent:0px;
}
p.C243 {
   text-align:justify;
   margin-top:0px;
   margin-bottom:0px;
   font-size:100%;
   text-indent:0px;
}
p.C245 {
   text-align:right;
   margin-top:0px;
   margin-bottom:2em;
   font-size:100%;
   text-indent:0px;
}
p.C249 {
   text-align:center;
   margin-top:0px;
   margin-bottom:4em;
   font-size:100%;
   text-indent:0px;
}
p.C252 {
   text-align:center;
   margin-top:0px;
   margin-bottom:0px;
   font-size:100%;
   text-indent:0px;
}
p.C240 {
   text-align:center;
   margin-top:6em;
   margin-bottom:1em;
   font-size:90%;
   text-indent:0px;
}
p.C254 {
   text-align:center;
   margin-top:0px;
   margin-bottom:0px;
   font-size:90%;
   text-indent:0px;
}
p.C582 {
   text-align:center;
   margin-top:0px;
   margin-bottom:1em;
   font-size:90%;
   text-indent:0px;
}
p.C650 {
   text-align:center;
   margin-top:0px;
   margin-bottom:1em;
   font-size:100%;
   text-indent:0px;
}
p.C269 {
   text-align:center;
   margin-top:3em;
   margin-bottom:1em;
   font-size:120%;
   text-indent:0px;
}
p.C270 {
   text-align:justify;
   margin-top:0px;
   margin-bottom:1em;
   font-size:100%;
   text-indent:0px;
}
p.C270a {
   text-align:justify;
   margin-top:1em;
   margin-bottom:1em;
   font-size:100%;
   text-indent:0px;
}
p.C349 {
   margin-top:0px;
   margin-bottom:1em;
   font-size:110%;
   text-indent:0px;
   text-align:left;
}
p.C677 {
   margin-top:4em;
   margin-bottom:0px;
   font-size:110%;
   text-align:left;
   text-indent:0px;
   margin-left:3em;
    -webkit-hyphens: none !important;
   adobe-hyphenate: none !important;
   -moz-hyphens: none !important;
   epub-hyphens: none !important;
}
p.C275 {
   text-align:left;
   margin-top:0px;
   margin-bottom:3em;
   font-size:340%;
   text-indent:0px;
    -webkit-hyphens: none !important;
   adobe-hyphenate: none !important;
   -moz-hyphens: none !important;
   epub-hyphens: none !important;
}
p.C282 {
   text-align:justify;
   margin-top:0px;
   margin-bottom:1em;
   font-size:100%;
   text-indent:0px;
    -webkit-hyphens: none !important;
   adobe-hyphenate: none !important;
   -moz-hyphens: none !important;
   epub-hyphens: none !important;
}
p.C283 {
   text-align:justify;
   margin-top:0px;
   margin-bottom:0px;
   font-size:100%;
   text-indent:0px;
    -webkit-hyphens: none !important;
   adobe-hyphenate: none !important;
   -moz-hyphens: none !important;
   epub-hyphens: none !important;
}
p.C284 {
   text-align:center;
   margin-top:3em;
   margin-bottom:1em;
   font-size:110%;
   text-indent:0px;
}
p.C365 {
   text-align:center;
   margin-top:0px;
   margin-bottom:1em;
   font-size:110%;
   text-indent:0px;
}
p.C544 {
   margin-top:0px;
   margin-bottom:0px;
   font-size:100%;
   text-indent:0px;
   text-align:left;
}
p.C748 {
   text-align:justify;
   margin-left:1.4em;
   margin-top:.1em;
   margin-bottom:0px;
   font-size:100%;
   text-indent:-1.4em;
}
p.C752 {
   text-align:justify;
   margin-left:1.8em;
   margin-top:0px;
   margin-bottom:1.1em;
   font-size:100%;
   text-indent:-1.8em;
}
p.C752a {
   text-align:justify;
   margin-left:1em;
   margin-top:0px;
   margin-bottom:1.1em;
   font-size:100%;
   text-indent:-1em;
}
p.C752b {
   text-align:justify;
   margin-left:1em;
   margin-top:0px;
   margin-bottom:0em;
   font-size:100%;
   text-indent:-1em;
}
p.C370 {
   text-align:justify;
   margin-left:1em;
   margin-right:1em;
   margin-top:0px;
   margin-bottom:1em;
   font-size:100%;
   text-indent:0px;
}
p.C745 {
   text-align:justify;
   margin-left:1em;
   margin-top:0px;
   margin-bottom:0px;
   font-size:100%;
   text-indent:-1em;
}
p.C745a {
   text-align:justify;
   margin-left:1em;
   margin-top:0px;
   margin-bottom:1em;
   font-size:100%;
   text-indent:-1em;
}
p.C893 {
   text-align:justify;
   margin-top:0px;
   margin-bottom:1em;
   font-size:100%;
   background-color:#e5e5e5;
   padding:.5em;
   text-indent:0px;
}
p.C574 {
   margin-top:0px;
   margin-bottom:1em;
   font-size:100%;
   text-indent:0px;
   text-align:left;
}
p.C526 {
   margin-top:0px;
   margin-bottom:0px;
   font-size:110%;
   text-indent:0px;
   text-align:left;
}
p.C384 {
   text-align:justify;
   margin-left:1em;
   margin-right:1em;
   margin-top:0px;
   margin-bottom:0px;
   font-size:100%;
   text-indent:0px;
}
p.C342 {
   margin-top:0px;
   margin-bottom:1em;
   font-size:120%;
   text-indent:0px;
   text-align:left;
}
p.C334 {
   margin-top:0px;
   margin-bottom:1em;
   font-size:90%;
   text-indent:0px;
   text-align:left;
}
p.C334a {
   margin-top:0px;
   margin-bottom:1em;
   font-size:90%;
   text-indent:0px;
   text-align:right;
}
p.C563 {
   margin-top:1em;
   margin-bottom:1em;
   font-size:110%;
   text-indent:0px;
   text-align:left;
}
p.C565 {
   text-align:justify;
   margin-left:3em;
   margin-top:0px;
   margin-bottom:0px;
   font-size:100%;
   text-indent:-1em;
}
p.C566 {
   text-align:justify;
   margin-left:3em;
   margin-top:0px;
   margin-bottom:1em;
   font-size:100%;
   text-indent:-1em;
}
table.C386 {
   margin-bottom:1em;
   padding:0.2em;
}
tr.T230_FirstRow {
   vertical-align:bottom;
   padding-top:0em;
   padding-bottom:0.25em;
}
tr.T230_Row {
   vertical-align:center;
   padding-top:0.25em;
   padding-bottom:0.25em;
}
tr.T230_Row {
   vertical-align:bottom;
   padding-top:0.25em;
   padding-bottom:0.25em;
}
tr.T230_LastRow {
   vertical-align:bottom;
   padding-top:0.25em;
   padding-bottom:0em;
}
tr.T231_FirstRow {
   vertical-align:center;
   padding-top:0em;
   padding-bottom:0.375em;
}
tr.T231_Row {
   vertical-align:bottom;
   padding-top:0.375em;
   padding-bottom:0.375em;
}
tr.T231_LastRow {
   vertical-align:center;
   padding-top:0.375em;
   padding-bottom:0em;
}
tr.T233_FirstRow {
   vertical-align:center;
   padding-top:0em;
   padding-bottom:0.5em;
}
tr.T233_Row {
   vertical-align:center;
   padding-top:0.5em;
   padding-bottom:0.5em;
}
tr.T233_LastRow {
   vertical-align:center;
   padding-top:0.5em;
   padding-bottom:0em;
}
tr.T234_FirstRow {
   vertical-align:top;
   padding-top:0em;
   padding-bottom:0em;
}
tr.T234_Row {
   vertical-align:top;
   padding-top:0em;
   padding-bottom:0em;
}
tr.T234_LastRow {
   vertical-align:top;
   padding-top:0em;
   padding-bottom:0em;
}
td.C589 {
   padding-right:0.25em;
   border-left:solid 2px ;
   border-bottom:solid 2px ;
   border-right:solid 2px ;
   border-top:solid 2px ;
   padding:0.2em;
}
td.T234_Column1 {
   padding-right:0.5em;
}
td.T234_Column2 {
   padding-left:0.5em;
   padding-right:0.5em;
}
td.T234_Column3 {
   padding-left:0.5em;
}
div.C788 {
   background-color:#e5e5e5;
   padding:.5em;
   margin-bottom:1em;
}
div.C985 {
   background-color:#e5e5e5;
   padding:.6em;
   margin-bottom:1em;
}
div.C968 {
   background-color:#e5e5e5;
   padding:.2em;
   margin-bottom:1em;
}
div.C929 {
   background-color:#e5e5e5;
   padding:.3em;
   margin-bottom:1em;
}
div.C512 {
   border:solid 2px;
   padding:0.5em;
   margin-bottom:1em;
}
@page
{
        margin:1em;
}
body
{
margin-left: 2%;
margin-right: 30px;
}
img
{
   max-width: 100%;
   max-height: 100%;
}
small
{
font-size: 80%;
}
sup
{
font-size: 80%;
vertical-align: super;
line-height: 1ex;
}
sub
{
font-size: 80%;
vertical-align: sub;
line-height: 1ex;
}

.pad
{
padding-left:0.5em;
}